*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #000;
}
html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgb(0, 0, 0);
  height: 70px;
  position: fixed;
  top: 0;
  padding: 2% 5%;
  z-index: 99;
  box-shadow: 1px 1px 10px 2px ghostwhite;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
}
ul img{
  width:60px;
  height: 60px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  color: white;
  font-size: 1.3em;
}

.menu-bar img{
  cursor: pointer;
  display: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgb(31, 52, 52);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 50%;
  z-index: 991;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.4s;
  position: sticky;
}
.sidebar a:hover {
  color: #f1f1f1;
  padding: 15px 20px;
  background:rgb(38, 61, 61);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

section{
    height: 600px;
    color: white;
    width: 100vw;
  }
.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100vw;
}
.bar{
    display: none;
}
.bar .hidden{
display: none;
}
h1{
  font-size: 3em;
  text-align: center;
  color:rgb(241, 124, 144);
  margin: 40px;
}
#heading{
position: absolute;
left: 50%;
top: 50%;
width: 40%;
height: auto;
transform: translate(-50%,-50%);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap:50px;
}
#heading h1{
    font-size: 3em;
    letter-spacing: 0.05em;   
    font-weight: 500;
}
.but{
   padding:0.5em 1.4em;
   background: transparent;
   border: 2px solid rgb(87, 206, 226);
   font-size:1.2rem;
   transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.but:hover{
    background-color: rgb(46, 131, 103);
    color:whitesmoke;
    animation: rotate624 0.7s ease-in-out both;
    border: 1px solid whitesmoke;
    color: white;
 }
 .but a{
    color: aquamarine;
    text-decoration: none;
 }

 @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
.auto-type{
    color: rgb(139, 255, 214);
}
#particle2-js{
    position: absolute;
    width: 100vw;
    top:0;
    height: 450%;
    z-index: -9;
}
.about-text{
    width: 40%;
    height: auto;
    font-size: 1em;
    font-weight:200;
    border: 3px solid rgb(159, 251, 254);
    text-align: left;
    padding: 2%;
    border-radius: 15px;
    background: #24203a;
}
.gif{
    width: 40%;
    height:auto;
border-radius: 50%;
}

.card {
    width: 90px;
    height: 110px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 2%;
  }
  .skill-wraper{
width: 35%;
padding: 2%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 4%;

}
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 0.9em;
    font-weight: 300;
  }
  .card::before {
    content: '';
    position: absolute;
    width: 70px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  .education{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    height: 90%;
  }
  .line{
    width: 12px;
    background: rgb(97, 80, 80);
    margin: 12px;
    border-radius: 50px;
    height: 450px;
  }
  .edu-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap:10px;
    width: 80%;
  }
  .diploma,.degree,.hsc{
    width: 90%;
    height: auto;
    border: 1px solid lightcyan;
    /* background: rgb(61, 74, 68,0.4); */
    padding: 1% 5%;
    border-radius: 0 80px 80px 0px;
    background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
    padding: 0.9rem;
    line-height: 20px;
    box-shadow: 0px 1rem 1.5rem -0.9rem #434141e1;

  }
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 5px;
  }  
   .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), rgb(223, 188, 107));
    animation: rotBGimg 3.5s linear infinite;
  } 
  #project{
    height: 130vh;
  }
  .project-wraper{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display:flex;
    gap:4% 0%;
    height:60vh;
  }
  .cards-project{
  position: relative;
  width: 25%;
  height: 310px;
  margin: 0.1% 1%;;
}
  .cards {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0%;
}

.cards .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: darkgreen;
}
.cards .image img {
    width: 100%;
    transition: .5s;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(117, 134, 125);

}
.cards:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.cards .details {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 70%;/*100%*/
    height: 90%;
    background: #cbdde4;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.cards:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.cards .details .center {
    padding: 20px;       
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cards .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.cards .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.cards .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
  #contact{
    background-image: url('./img/istockphoto-1193685384-1024x1024.jpg');
    background-repeat: no-repeat;
    /* opacity: 0.3; */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-self: start;
    height: 110vh;
  }
  #contact h1{
    width: 100%;
  }
    .contact-wrap {
    width: 100%;
    background: #5e6d6fe6;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-media{
    width:40%;
    display: flex;
    justify-content: center;
    margin:20px;
    flex-direction: column;
  }
  .social-media i{
    width: 90%;
  padding:2% 4%;
  background: rgb(252, 249, 255);
  border: 2px solid rgb(185, 177, 177);
  margin: 2% 0%;
  transition: 0.5s;
  color: #000;
  }
  .social-media i:hover{
    padding: 2.5% 4.1%;
    background: rgb(236, 232, 238);
  }
  .social-media a:any-link{
    color: #777373;
  }
  .social-media a:hover,.foot-bar ul li a:hover{
    color: rgb(214, 205, 205);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 20px 5px;
  }
  .names {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  input, textarea {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: white;
    color: #000;
    width: calc(45% - 10px);
    outline: none;
    font-size: 1em;
    border: 1px solid lightgray;
  }
  textarea {
    width: 100%;
    height: 250px; 
    resize: none;
  }
  button {
    padding: 10px 30px;
    background-color: #2160ff;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }
  button:hover {
    background-color: #003bb5;
    padding: 1.7% 4%;
  }
  /* Footer Styles */
.footer {
  background: #0e1015;
  color: #fff;
  text-align: center;
  padding:  50px 30px;
}

.foot-bar{
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}
.foot-bar .navsection{
  display: flex;
  /* border: 2px solid rebeccapurple; */
  justify-content: center;
  width: 100%;
  gap:5%;
}
.foot-bar ul li{
  list-style-type: none;
}
.foot-bar ul li a,.social-media a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  margin: 5px;
}
 span.auto-type2{
  font-size: 1.5em;
  color: rgb(255, 143, 162);
  font-weight: 600;
}
@media screen and (max-width: 823px) and (min-width:500px) {
nav{
  width: 100vw;
  z-index: 99;
} 
.menu-bar img{
      display: flex;
      width: 24px;
      height: 24px;
  }
  .navsection {
     display: none;     
  } 
   .section-about{
      display: block;
      height: auto;
    } 
    #particles-js{
      height: 80vh;
    }
    #heading{
      width: 80%;
      position: absolute;
      top:40%;
      text-align: center;
      gap:40px;
      height: 100vh;
    }
    #heading h1{
      font-size: 3em;
      letter-spacing: 0.05em;   
      font-weight: 500;
      margin-bottom: 0px;
      color: #008000;
      text-align: center;
  }
  h1{
    margin:  30px 0%;
  }
  .sidebar{
    z-index:999;
  }
  #home{
    height: 90vh;
  }
  .section-about{
    display: flex;
    height: auto;
    padding: 0 1%;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
  }
  #particle2-js{
    height: 300%;
  }
  .edu-section{
    height: 1000px;
  }
  .about-text{
width: 40%;
font-size: 0.9em;
margin:  0 10px 0 0 ;
  }
  #skill h1{
    width: 100%;
  }
  .gif{
    width: 40%;
    height: 90%;
  }
  .gif img{
    width: 100%;
  }
  .skill-wraper{
    width: 90vw;
  }
 .skill-wraper{
  width: 90vw;
  padding: 2%;
 }
 .education{
  width: 100vw;
  padding: 1%;
  height: auto;
 }
.edu-wrap{
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0%;
  gap:5%;
}
 .line{
  height:430px;
 }
 .degree,.diploma,.hsc{
  width: 100%;
 }
  #project{
    margin-top: 450px;
    height: auto;
  }
  .project-wraper{
display:flex ;
width: 100%;
gap:0;
margin:100px 0px;
  }
  .cards-project{
    width: 40%;
    margin-top: 0%;
    margin: 20px 10px;
  }
  #contact{
    height: 75vh;
    padding:  2% 0%;
  }
  .social-media {
    flex-wrap: wrap;
    padding: 30px ;
    gap:25px;
    width:50%;
  }
.social-media i{
  width: 100%;
  padding: 1% 2%;
}
  .fot a{
        color: white;
  }
  .contact-wrap{
    padding: 30px 0;
  }
}
@media screen  and (max-width:450px) {
  nav{
    width: 100vw;
    z-index: 99;
  } 
  .nav ul{
    width: 100%;
  }
  .menu-bar img{
        display: flex;
        width: 24px;
        height: 24px;
    }
    .navsection {
       display: none;     
    } 
     .section-about{
        display: block;
        height: auto;
      } 
      #particles-js{
        height: 80vh;
      }
      #heading{
        width: 90%;
        position: absolute;
        top:40%;
        text-align: center;
        gap:50px;
        height: 100vh;

      }
      #heading h1{
        font-size: 3em;
        letter-spacing: 0.05em;   
        font-weight: 500;
        margin-bottom: 0px;
        color: #58fb58;
        text-align: center;
    }
    h1{
      margin:  20px 0%;
    }
    #home{
      height: auto;
    }
    .sidebar{
      z-index:999;
    }
    #about{
      height: auto;
    }
    .about-text{
      width: 90vw;
      padding: 2%;
      margin: 10px;
    }
    .gif{
width:90vw;
margin: 10px;
    }
    .card {
        margin: 15px;
      }
      .skill-wraper{
    width: 100%;
    padding: 2%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    }
 #skill{
  height: auto;
 } 
 .education{
  width: 100vw;
  padding: 2% 3%;
 }
 .edu-section{
  width: 100%;
 }
 .edu-wrap{
  width: 100%;
 }
 .line{
  height: 500px;
 }
 .degree,.diploma,.hsc{
  width: 100%;
 }
 .project-wraper{
  width: 100vw;
  padding: 2% 20px;
  gap:20px;
 }
 .cards-project{
  width: 90%;
  margin: 30px 0%;
 }
 #project{
  height: auto;
  padding: 30px 0;
 }

 #contact{
  height: 95vh;
 }
 .contact-wrap{
  background: rgba(139, 166, 166, 0.9);
 }
 .social-media,.contact-form{
  width: 90vw;
 }

}