*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #000;
}
html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgb(0, 0, 0);
  height: 70px;
  position: fixed;
  top: 0;
  padding: 2% 5%;
  z-index: 99;
  box-shadow: 1px 1px 10px 2px ghostwhite;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
}
ul img{
  width:60px;
  height: 60px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  color: white;
  font-size: 1.3em;
}

.menu-bar img{
  cursor: pointer;
  display: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

section{
    height: 600px;
    color: white;
    width: 100vw;
  }
.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100vw;
}
.bar{
    display: none;
}
.bar .hidden{
display: none;
}
h1{
  font-size: 3em;
  text-align: center;
  color:rgb(241, 124, 144);
  margin: 40px;
}
#heading{
position: absolute;
left: 50%;
top: 50%;
width: 40%;
height: auto;
transform: translate(-50%,-50%);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap:50px;
}
#heading h1{
    font-size: 3em;
    letter-spacing: 0.05em;   
    font-weight: 500;
}
.but{
   padding:0.5em 1.4em;
   background: transparent;
   border: 2px solid rgb(87, 206, 226);
   font-size:1.2rem;
   transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.but:hover{
    background-color: rgb(46, 131, 103);
    color:whitesmoke;
    animation: rotate624 0.7s ease-in-out both;
    border: 1px solid whitesmoke;
    color: white;
 }
 .but a{
    color: aquamarine;
    text-decoration: none;
 }

 @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
.auto-type{
    color: rgb(139, 255, 214);
}
#particle2-js{
    position: absolute;
    width: 100vw;
    top:0;
    height: 450%;
    z-index: -9;
}
.about-text{
    width: 40%;
    height: auto;
    font-size: 1em;
    font-weight:200;
    border: 3px solid rgb(159, 251, 254);
    text-align: left;
    padding: 2%;
    border-radius: 15px;
    background: #24203a;
}
.gif{
    width: 40%;
    height:auto;
border-radius: 50%;
}
.card {
    width: 90px;
    height: 110px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 2%;
  }
  .skill-wraper{
width: 35%;
padding: 2%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 4%;
/* border: 2px solid red; */
}
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 0.9em;
    font-weight: 300;
  }
  .card::before {
    content: '';
    position: absolute;
    width: 70px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  .education{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    height: 90%;
  }
  hr{
    width: 20px;
    background: rgb(97, 80, 80);
    margin: 12px;
  }
  .edu-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap:40px;
    width: 80%;
  }
  .diploma,.degree,.hsc{
    width: 90%;
    height: auto;
    border: 1px solid lightcyan;
    background: rgb(61, 74, 68);
    padding: 2% 4%;
  }

  h4{
    line-height: 25px;
  }
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 5px;
  }  
   .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), rgb(223, 188, 107));
    animation: rotBGimg 3.5s linear infinite;
  } 
  #project{
    height: 130vh;
  }
  .project-wraper{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display:flex;
    gap:0%;
    height:60vh;
  }
  .cards-project{
  position: relative;
  width: 25%;
  height: 310px;
  margin: 0.1% 1%;;
}
  .cards {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0%;
}

.cards .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: darkgreen;
}
.cards .image img {
    width: 100%;
    transition: .5s;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(117, 134, 125);

}
.cards:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.cards .details {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 70%;/*100%*/
    height: 90%;
    background: #cbdde4;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.cards:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.cards .details .center {
    padding: 20px;       
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cards .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.cards .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.cards .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
  #contact{
    background-image: url('./img/istockphoto-1193685384-1024x1024.jpg');
    background-repeat: no-repeat;
    /* opacity: 0.3; */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-self: start;
    height: 110vh;
  }
    .contact-wrap {
    width: 100%;
    background: rgba(94, 109, 111, 0.9);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 20px;
  }

  .names {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  input, textarea {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: white;
    color: #000;
    width: calc(45% - 10px);
    outline: none;
    font-size: 1em;
    border: 1px solid lightgray;
  }
  textarea {
    width: 100%;
    height: 250px; 
    resize: none;
  }
  button {
    padding: 10px 30px;
    background-color: #0048ff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  button:hover {
    background-color: #003bb5;
  }
  /* Footer Styles */
.footer {
  background: #0e1015;
  color: #fff;
  text-align: center;
  padding:  50px 30px;
}
.social-media{
  width: 100%;
  display: flex;
  justify-content: center;
  gap:2%;
  margin:20px;
}
.social-media p {
  font-size: 1em;
  font-family: sans-serif;
}
.social-media a{
  color: white;
  margin: 5px;
}
.fot a{
  color: #f1f1f1;
}
.fot a:hover{
  color: rgb(215, 205, 205);
}
.social-media a:hover{
  color: rgb(214, 205, 205);
}
.foot-bar{
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}
.foot-bar .navsection{
  display: flex;
  /* border: 2px solid rebeccapurple; */
  justify-content: center;
  width: 100%;
  gap:5%;
}
.foot-bar ul li{
  list-style-type: none;
}
@media screen and (max-width: 828px) and (min-width:500px) {
nav{
  width: 100%;
} 
.menu-bar img{
      display: flex;
      width: 24px;
      height: 24px;
  }
  .navsection {
     display: none;     
  } 
   .section-about{
      display: block;
      height: auto;
    } 
    #heading{
      width: 80%;
      position: absolute;
      top:20%;
      text-align: center;
      gap:20px;
    }
    #heading h1{
      font-size: 3em;
      letter-spacing: 0.05em;   
      font-weight: 500;
      margin-bottom: 0px;
      color: #008000;
      text-align: center;
  }
  h1{
    margin: 0%;
  }
  #home{
    height: auto;
  }
  .section-about{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 2%;
    align-items: center;
    max-height: 200vh;
  }
  .edu-section{
    height: 1000px;
  }
  .about-text{
width: 80%;
font-size: 0.9em;
  }
  hr{
    height: 80%;
  }
  .skill-wraper{
    width: 90%;
  }
  .education{
    width: 90%;
  }
  .edu-wrap{
     gap: 15px;
  }
  #project{
    margin-top: 400px;
  }
  .project-wraper{
display:flex ;
/* flex-wrap: wrap; */
width: 100%;
gap:0;
margin:100px 0px;

  }
  .cards-project{
    width: 40%;
    /* margin:  20px 1% ; */
    margin-top: 0%;
  }
  #contact{
    margin-top: 800px;
    height: 60vh;
  }
  .fot a{
        color: white;
  }
  .contact-wrap{
    padding: 30px 0;
  }

}
@media screen  and (max-width:450px) {
  nav{
    width: 100%;
  } 
  .menu-bar img{
        display: flex;
        width: 24px;
        height: 24px;
    }
    .navsection {
        display: none;
    }
#about,#contact,#skill{
    display: block;
}
  .footer .container {
    flex-direction: column;
  }
  .footer-section {
    flex: 1 1 100%;
    margin: 10px 0;
  }
  #to-top {
    bottom: 20px;
    right: 20px;
  }
}

